
.vs/Simple Game Engine/v17/Browse.VC.opendb
.vs/Simple Game Engine/v17/Browse.VC.db-wal
.vs/Simple Game Engine/v17/Browse.VC.db-shm
.vs/Simple Game Engine/v17/Browse.VC.db
.vs/Simple Game Engine/v17/.suo
.vs/Simple Game Engine/FileContentIndex/read.lock
x64/Debug/Simple Game Engine.exe
x64/Debug/Simple Game Engine.pdb
*.vsidx
*.obj
*.vsidx
*.ipch
*.tlog
*.pdb
*.exe
*.log
*.ilk
*.recipe
*.lastbuildstate
